<div class="row">
  <div class="col-md-3">
    <h3> Rooms: </h3>
    <ul class="list-group">
      <li class="list-group-item">
        General
      </li>
    </ul>
  </div>
  <div class="col-md-9">
    <div class="jumbotron">
      <h2> Welcome to Chat App </h2>
    </div>
  </div>
</div>
